*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: url('home.png');
}
.content{
    position: relative;
    left: 150px;
    top: 220px;
    height: 200px;
    width: 600px;
    font-size: 30px;
    margin: 20px 0 40px;
}
.fa-solid fa-plane{
    position: relative;
    left: 600px;
    height: 500px;
    width: 600px;
    background: red;
}